<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BODY FITNESS</title>
</head><link rel="stylesheet" href="/style.css">
<body>
    <header class="header">
        <div class="aa">
           <h1> <img src="/logo.jpeg" alt="gym logo" width="80px"><i>FITNESS CLUB</i></h1><br>
            <h1>Home page</h1>
        </div>
        <div class="point">
            <ul>
                <li><a href="training.ejs">Training</a></li>
                <li><a href="service.ejs">Services</a></li>
                <li><a href="signup.ejs">signup and login</a></li>
            </ul>
        </div>
        <div class="ab">
            <img src="/imggym.jpg" target=_blank alt="gym">
            <div class="text">Welcome to FITNESS CLUB - Your Path to Fitness Excellence</div>
        </div>
        
    </header>
    <main>
        <div class="content"> <br><br><br><br>
            At <strong>FITNESS CLUB</strong>, we believe in more than just breaking a sweat – we're dedicated to transforming lives through fitness. Whether you're a seasoned athlete or just beginning your fitness journey, our state-of-the-art facilities, expert trainers, and diverse range of programs are tailored to help you achieve your goals, surpass your limits, and elevate your overall well-being. <br><br><br><br>
        </div>
    </main>
    
</body>
</html>