<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>training</title>
    <style>
        body{
            background-color: grey;
        }
        .aab{
            font-size: 30px;
        }

    </style>
</head>
<body>
    <h1><img src="/logo.jpeg" alt="gym logo" width="80px"><i>Welcome to fitness club</i></h1>
    <div class="aab"><i>Here's all the exercise , click pictures to learn more. </i></div><br>
    <div class="link">
        <a href="https://www.youtube.com/watch?v=vO4VfcaosEk"target=_blank style="margin: 10px;"><img src="/chest.jpg" alt="chest workout" width="360px" height="300px"></a>
        <a href="https://www.youtube.com/watch?v=q7rCeOa_m58"target=_blank style="margin: 10px;"><img src="/legs.jpg" alt="leg workout"width="360"height="300px"></a>
        <a href="https://www.youtube.com/watch?v=hQrb2gghgd4"target=_blank style="margin: 10px;"><img src="/shoulder.jpg" alt="shoulder workout"width="360px"height="300px"></a><br>
        <a href="https://www.youtube.com/watch?v=zgfcOWuTeYA"target=_blank style="margin: 10px;"><img src="/back.jpg" alt="back workout"width="360px"height="300px"></a>
        <a href="https://www.youtube.com/watch?v=crPb62o-z_E"target=_blank style="margin: 10px;"><img src="/cardio.jpg" alt="cardio"width="360px"height="300px"></a>
        <a href="https://www.youtube.com/watch?v=Tn-XvYG9x7w"target=_blank style="margin: 10px;"><img src="/abs.jpg" alt="abs workout"width="360px"height="300px"></a>
    </div>
</body>
</html>